get-background-color(background-color)
  background-color background-color
  
get-text-color(text-color)
  color text-color
  
BaseClass()
  font-family 'Arial', sans-serif
  get-background-color(#ecf0f1)
  get-text-color(#34495e)
  margin 0 auto
  padding 0
  
body
  BaseClass()
  
.container
  BaseClass()
  width 80%