%BaseClassImplementation
{
    @function get-background-color($background-color)
    {
        @return $background-color;
    }

    @function get-text-color($text-color)
    {
        @return $text-color;
    }
}

@mixin Base()
{
    @extend %BaseClassImplementation;

    font-family: 'Arial', sans-serif;
    background-color: get-background-color(#ecf0f1);
    color: get-text-color(#34495e);
    margin: 0;
    padding: 0;
}

body
{
    @include Base;
}
  
.container
{
    @include Base;
    width: 80%;
    margin: 0 auto;
} 