%FooterClassImplementation
{
    @function get-color($color)
    {
        @return $color;
    }

    @function primary-color($primary-color)
    {
        @return $primary-color;
    }
}

@mixin Footer()
{
    @extend %FooterClassImplementation;

    background-color: primary-color(#3498db);
    color: get-color(#fff);
    padding: 1rem 0;
    text-align: center;
}

footer
{
    @include Footer();
}

.footer-custom
{
    @extend footer;
}