%HeaderClassImplementation
{
    @function primary-color($primary-color)
    {
        @return $primary-color;
    }
    @function get-color($color)
    {
        @return $color;
    }

    @function darken-primary-color($amount)
    {
        @return adjust($primary-color, ($amount * 255), 0, 0);
    }
}


@mixin Header()
{
    @extend %HeaderClassImplementation;

    background-color: primary-color(#ecf0f1);
    color: get-color(#fff);
    padding: 1rem 0;

    h1
    {
        margin: 0;
    }

    &:hover
    {
        background-color: darken-primary-color(10%);
    }
}

header
{
    @include Header;
}

custom-header
{
    @extend header;
}