@mixin Header()
{
    @function primary-color()
    {
        @return $primary-color;
    }

    @function darken-primary-color($amount)
    {
        @return adjust($primary-color, ($amount * 255), 0, 0);
    }

    background-color: primary-color();
    color: #fff;
    padding: 1rem 0;

    h1
    {
        margin: 0;
    }

    &:hover
    {
        background-color: darken-primary-color(10%);
    }
}

header
{
    @include Header;
}

custom-header
{
    @extend header;
}