$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #ecf0f1;
$text-color: #34495e;

@use 'reset';
@use 'base';
@use 'header';
@use 'navigation';
@use 'main';
@use 'footer';