@mixin get-background-color($background-color)
{
    background-color: $background-color;
}

@mixin get-text-color($text-color)
{
    color: $text-color;
}

@mixin BaseClass
{
    font-family: 'Arial', sans-serif;
    @include get-background-color(#ecf0f1);
    @include get-text-color(#34495e);
    margin: 0;
    padding: 0;
}

body
{
    @include BaseClass();
}

.container
{
    @include BaseClass();
    width: 80%;
    margin: 0 auto;
}