@mixin primary-color($primary-color)
{
    background-color: $primary-color;
}

@mixin get-color($color)
{
    color: $color;
}

@mixin darken-primary-color($primary-color, $amount)
{
    background-color: adjust($primary-color, ($amount * 255), 0, 0);
}

@mixin HeaderClass
{
    @include primary-color(#ecf0f1);
    @include get-color(#fff);

    padding: 1rem 0;

    h1
    {
        margin: 0;
    }

    &:hover
    {
        @include darken-primary-color(#ecf0f1, 10%);
    }
}

header
{
    @include HeaderClass();
}

.custom-header
{
    @extend header;
}